.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  }
.navbar_second {
  display: flex;
  justify-content: space-between;

}
.container {
  width: 1220px;
  margin: auto;
}

.nav_link {
  text-decoration: none;
  color: black;
  font-size: 27px;
  padding: 10px;

}

.navbar_burger{
  display: none!important;
}


@media (max-width: 740px){
  .navbar_burger{
    display: block!important;
  }
  .navbar_menu{
    display: none!important;
  }
  .navbar_container{
    padding: 20px;
   }
}