
.reg_body{
  background-image: url("../../img/back.png");
  background-size: cover;
  height: 90vh;
  width: 100%;
  position: fixed;
  display: flex;
}
.container2{
  margin: auto;
  display: flex;
  align-items: center;
}
.submit {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  padding: 0 20px 0 0;
  font-size: 55px;
  &:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    transition: all 0.2s ease-out;
  }
}
.reg_link{
  text-decoration: none;
}
.g{
  color: white;
  font-size: 45px;
  margin-right: 10px;
  background-color: black;
  padding:30px;
}
.gdiv{
  height: 100px;
}

@media (max-width: 823px) {
  .submit{
    font-size: 20px;
  }
  .g{
    font-size: 20px;
  }
  .gdiv{
    height: 80px;
  }
}